# Dépendances et environnement
.env
vendor/
node_modules/

# Fichiers de téléversement utilisateur
/public/uploads/*
!/public/uploads/.gitkeep

# Journaux applicatifs
/storage/logs/*.log
!/storage/logs/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.vscode/
.idea/
*.swp
